-@group.messages.each do|message|
  %li.message__case
    %p.message__case__name
      =message.user.name
    %p.message__case__time
      =message.created_at
    %p.message__case__word
      =message.body
