-@group.messages.each do|message|
  %li.message__case
    %p.message__case__name
      =message.user.name
    %p.message__case__time
      =message.created_at
    %p.message__case__word
      =message.body
    - unless message.image.blank?
      %div.image
        = image_tag message.image, class: "large-img"




-#         $(function() {
-#   function buildHTML(message) {
-#     var html = '<li class="message__case">' +
-#     '<p class="message__case__name">' +
-#     message.name +
-#     '</p>' +
-#     '<p class="message__case__time">' +
-#     message.time +
-#     '</p>' +
-#     '<p class = "message__case__word" >' +
-#     message.body +
-#     '</p>' +
-#     '</li>';

-#     $('ul.message').append(html);
-#   }

-#   $('#new_message').on('submit', function(e) {
-#     e.preventDefault();
-#     var textField = $('.contents__right__bottom__box__left');
-#     // var fileField = $('.set_image');
-#     var form = new FormData(this);
-#     var message_url = $(this).attr('action');
-#     $.ajax({
-#       type: 'POST',
-#       url: message_url,
-#       data: form,
-#       processData: false,
-#       contentType: false,
-#       dataType: 'json'
-#     })
-#     .done(function(data) {
-#       buildHTML(data);
-#       console.log('成功');
-#        $('.contents__right__bottom__box__left').val('');
-#       // fileField.val('');
-#     })
-#     .fail(function() {
-#       alert('メッセージを入力してください。');
-#     });
-#     return false
-#   });
-# });
