.case
  %span.case__name tomohiro
  %span.case__time 2017/02/21 19:09
  %p.case__word お腹すいた
.case
  %span.case__name tomohiro
  %span.case__time 2017/02/21 19:09
  %p.case__word 頭痛い
.case
  %span.case__name tomohiro
  %span.case__time 2017/02/21 19:09
  %p.case__word 背中がかゆい
.case
  %span.case__name tomohiro
  %span.case__time 2017/02/21 19:09
  %p.case__word 世界征服