.header
  .header__left
    %p.header__left__name tomohiro
    %span.header__left__icon
      %i(class="fa fa-pencil-square-o fa-lg" aria-hidden="true")
      %i(class="fa fa-cog fa-lg" aria-hidden="true")
  .header__right
    .header__right__left
      %p.group sample
      %p.member members: tomohiro john
    .header__right__right
      %span.edit Edit
.contents
  .contents__left
    .contents__left__box
      .box
        %p.box__group 神
        %p.box__message まだメッセージがありません。
      .box
        %p.box__group 髪
        %p.box__message まだメッセージがありません。
      .box
        %p.box__group 紙
        %p.box__message まだメッセージがありません。
  .contents__right
    .contents__right__top
      .case
        %span.case__name tomohiro
        %span.case__time 2017/02/21 19:09
        %p.case__word お腹すいた
      .case
        %span.case__name tomohiro
        %span.case__time 2017/02/21 19:09
        %p.case__word 頭痛い
      .case
        %span.case__name tomohiro
        %span.case__time 2017/02/21 19:09
        %p.case__word 背中がかゆい
      .case
        %span.case__name tomohiro
        %span.case__time 2017/02/21 19:09
        %p.case__word 世界征服
    .contents__right__bottom
      .contents__right__bottom__box
        .contents__right__bottom__box__left
          %p.contents__right__bottom__box__left__text type a message
          %i(class="fa fa-picture-o" aria-hidden="true")
        .contents__right__bottom__box__right
          %p.contents__right__bottom__box__right__text Send


