.alert-notice{
	text-align: center;
	background-color: #38AEF0;
	color: white;
	position: fixed;
	width: 100%;
}

.alert-error{
	text-align: center;
	background-color: red;
	color: white;
	position: fixed;
	width: 100%;
}