.contents{
  height: 100%;
  width: 100%;
  position: fixed;

  &__left{
    height: 100%;
    width: 300px;
    background-color: #2f3e51;
    float: left;
    overflow-y: scroll;
    &__box{
      margin: 15px 20px 0 20px;
      .box{
        color: $color;
        margin-bottom: 42px;
        &__group{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message{
          font-size: 11px;
        }
      }
    }
  }
  &__right{
    height: calc(100% - 145px);
    width: calc(100% - 300px);
    float: right;
    background-color: #f5f5f5;
    overflow-y: scroll;
    &__top{
      margin: 46px 40px 0 40px;
      height: calc(100% - 91px);
      .message{
        padding-bottom: 30px;
        &__case{
          margin-bottom: 37px;
          &__name{
            font-size: 16px;
            font-weight: bold;
            color: #434A54;
            display: inline-block;
          }
          &__time{
            font-size: 12px;
            color: $color2;
            display: inline-block;
            margin-left: 10px;
          }
          &__word{
            font-size: 13px;
            color: #434A54;
            margin-top: 10px;
          }
        }
      }
    }
    &__bottom{
      width: 100%;
      height: 91px;
      background-color: #d3d3d3;
      position: fixed;
      &__box{
        width: 100%;
        height: 51px;
        padding: 20px 40px;
        position: relative;
        .fa-picture-o{
          position: absolute;
          top: 37px;
          left: 840px;
          color: #696969;
          }
          &__left{
            background-color: white;
            height: 50px;
            width: calc(100% - 520px);
            float: left;
            margin: 0 0 0 10px;
            font-size:  16px;
            color: #a9a9a9;
            font-color: black;
          }
          &__right__text{
            height: 50px;
            background-color: #38AEF0;
            width: 100px;
            float: left;
            margin: 0 0 13px 30px;
            color: white;
          }
      }
    }
  }
}
